.DS_Store
__pycache__/
*.pyc
_to_delete/

# Copyrighted book PDFs — do not commit
Book - AI Engineering - Building Applications with Foundational Models/
Book - Designing Data-Intensive Applications/
